<div class="col-6">
    <div class="mb-3">
    <%= link_to 'Notifications', notifications_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
    </div>
    <div id="tweets">
        <p>Hello from notifications</p>
    </div>
</div>
<div class="col">
  <%= render partial: "shared/hashtag_sidebar" %>
</div>
