a.twitter-link {
    color: $twitter-blue !important;
    text-decoration: none;
    // -moz-transition: all .1s ease-in;
    // -o-transition: all .1s ease-in;
    // -webkit-transition: all .1s ease-in;
    // transition: all .1s ease-in;

    &:hover {
        text-decoration: underline !important;
    }
}
